.proposal {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}
.docment {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}
.btn,
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #433163 !important;

  color: #ffffff !important;
  border-color: #433163 !important;
}
.header-pic {
  background-color: #e9ecef;
  height: 35px;
}
.sample {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}
.dropdown-menu.show {
  width: 48%;
}

.table-header {
  background-color: #91c1e6;
  color: #ffffff;
}

.table-header {
  background-color: #91c1e6;
  color: #ffffff;
}
