.header{
  font-weight: bold; font-size: 22px;
}

.btn-outline-primary{
  color: lightYellow ;
  background-color: red;
}

.color433163 {
  background: #433163;
  color: #ffffff;
}

.color8661C5 {
  background: #8661c5;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}
