<span>
<span (click)="editClicked($event)" class="outCircle"> <i class="fas fa-folder-open" title="Open" style="width: 14px;"></i></span>&nbsp;
<span (click)="deleteClicked($event)" class="outCircle"> <i class="fa fa-times" title="Delete" style="width: 14px;"></i></span>&nbsp;
<span (click)="archieveClicked($event)" class="outCircle"> <i class="fa fa-reply" title="Unarchive" style="width: 14px;"></i></span>&nbsp;
<!-- <span (click)="shareClicked($event)" class="outCircle"><i class="fas fa-share"style="width: 14px;"></i></span> -->
<!--<button type="button" class="btn btn-sm" (click)="editClicked()" style="border:2px;margin-right:10px;color:#433163"><i class="fas fa-edit"></i>  Edit</button>-->
<!--<button type="button" class="btn btn-outline-secondary btn-sm" (click)="deleteClicked()" style="border:2px;"><i class="fas fa-times"></i>    Delete</button>-->

</span>

<!--<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Delete Proposal</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <p>Would you like to Delete the Proposal</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="submitConfirm()">Confirm</button>
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>
<ng-template #content1 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Archive Proposal</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <p>Would you like to Archive the Proposal</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="submitConfirm()">Confirm</button>
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>-->