<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-0">
            <div class="modal-header fontHeader " style="background: white;">
                <label class="fontShare">ATTENTION</label>   
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <p>This proposal may be subject to High Risk Deal Desk (HRDD). To proceed please enter following information:</p><br/>
                        <p>HRDD note will be triggered when deal value AND discount are higher than the defined threshold.</p><br/>
                        <p>Enter the total US dollar list price value of the order (USD)&nbsp;<input type="text" /></p>
                        <p>Enter maximum discount to be applied in the order (%) &nbsp;<input type="text" /></p>
                        <p>If this proposal is selected for HRDD review “*ROC - Secondary Review Desk*” will be added to the footer of your amendment. Please contact <a href="#">HRDD@microsoft.com</a> for assistance.</p>

                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-12" style="text-align:right;">
                        <button type="submit" class="btn btn-primary" >Click Processed</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

