<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="large"
  color="#433163"
  fullScreen="true"
  type="ball-spin-clockwise"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="container-fluid p-4 my-3 mt-5 border">

    <div class="row align-items-start">
        <div class="col-12 p-r-0">
            <div class="form-group">
                <div class="header-pic"><span class="proposal">Active Proposal</span> </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form [formGroup]='searchForm' novalidate>
                <div class="row">
                    <div class="col-3">
                        <ng-select class="ng-select" formControlName="searchField" placeholder="Select Search" name="searchField" [items]="searchItem"
                            bindLabel="name" bindValue="id"  (clear)="clearVAl()">
                        </ng-select>
                    </div>
                    <div class="col-3" *ngIf="searchForm.get('searchField').value=='CreatedDate'">

                        <input autocomplete="off" placeholder="mm/dd/yyyy" type="text" formControlName="searchTextDate" class="form-control" #dp="bsDatepicker"
                            name="searchTextDate" (ngModelChange)="onSubmit('Date')" bsDatepicker [bsConfig]="{containerClass:'theme-blue'}">
                    </div>

                    <div class="col-3" *ngIf="searchForm.get('searchField').value !='CreatedDate'">
                        <input autocomplete="off" type="text" (blur)="onSubmit()" formControlName="searchText" class="form-control" placeholder="Search Item.."
                            name="searchText" />
                        <div *ngIf="(searchForm.get('searchText').hasError('invalidName'))">
                            <div class="error_color">
                                Special characters not allowed!
                            </div>
                        </div>
                    </div>
                    <div class="col-3" title="Reset">
                        
                      
                        <!-- <input type="button" name="reset"> <i class="fa fa-refresh"></i></input> -->
                        
                        <button (click)="reset()"  type="button" class="btn btn-primary"><i class="fas fa-undo"></i> </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col">
            <ag-grid-angular #agGrid style=" height:500px;" class="ag-theme-alpine" [rowData]="rowData" [columnDefs]="columnDefs" (rowClicked)='onRowClicked($event)'
              [components]="components"  [gridOptions]="gridOptions" (gridReady)="onGridReady($event)" [frameworkComponents]="frameworkComponents">
            </ag-grid-angular>
            <!--<table datatable class="row-border hover">
                <thead class="table-header">
                    <tr>
                        <th>Create</th>
                        <th>ProposalId</th>
                        <th>Created By</th>
                        <th>Modified By</th>
                        <th>Customer Name</th>
                        <th>Status</th>
                        <th>Shared</th>
                        <th>Delegation</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let obj of ActiveProposal; let ie = index">

                        <td>{{obj.createdDate | date :'MM/dd/YY'}}</td>
                        <td>{{obj.proposalId}}</td>
                        <td>{{obj.createdByAlias}}</td>
                        <td>{{obj.lastModifiedBy}}</td>
                        <td>{{obj.customerName}}</td>
                        <td>{{obj.status == 0 ?'false':'true' }}</td>
                        <td>{{obj.isShared}}</td>
                        <td>{{obj.delegationStatus == 0 ?'false':'true'}}</td>
                        <td>
                            <span class="outCircle">
                                <i class="fas fa-folder-open" style="width: 14px;"></i>
                            </span>&nbsp;
                            <span class="outCircle">
                                        <i class="fa fa-times" style="width: 14px;"></i>
                                    </span> &nbsp;
                            <span class="outCircle">
                                        <i class="fas fa-archive" style="width: 14px;"></i>
                                    </span> &nbsp;
                            <span class="outCircle">
                                <i class="fas fa-share"style="width: 14px;"></i>
                            </span>
                        </td>

                    </tr>
                </tbody>
            </table>-->

        </div>
    </div>
</div>