<span style="cursor: pointer;" title="Download" (click)="downloadCTMFile($event)" class="outCircle"> <i class="fas fa-file" style="width: 14px;"></i></span>&nbsp;

<span style="cursor: pointer;" title="Stop Share" class="outCircle" (click)="stopShareCTM($event)" [hidden]="!(obj.createdBy == userId && obj.isPublic) "><i class="fa fa-toggle-off"style="width: 14px;"></i></span>&nbsp;
<span  style="cursor: pointer;"class="outCircle" (click)="shareClicked($event)"  [hidden]="!(obj.createdBy == userId && !obj.isPublic)"> <i class="fa fa-share-alt" style="width: 14px;"></i></span>&nbsp;
<span style="cursor: pointer;" title="Delete" class="outCircle" (click)="deleteClicked($event)" [hidden]="(!(obj.createdBy == userId && obj.isPublic) || !(obj.isPublic))"> <i class="fa fa-times" style="width: 14px;"></i></span>&nbsp;
<!-- <span class="outCircle"><i class="fas fa-floppy-o"style="width: 14px;"></i></span>
<span class="outCircle"><i class="fa fa-ban"style="width: 14px;"></i></span>
<span class="outCircle"><i class="fas fa-file-text-o"style="width: 14px;"></i></span> -->