<div class="card">
    <div class="card-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-8">
                    <div class="row mb-3">
                        <div class="col-12">
                            <h5>Add CTM File</h5>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-2 col-form-label"> File Name:</label>
                        <div class="col-8">
                            <input type="text" class="form-control" name="fileName" [(ngModel)]="fileName" placeholder="File name" aria-label="File Name">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-2 col-form-label">Category:</label>
                        <div class="col-8 select-category-container">
                            <div class="form-group">
                                <button class="form-control text-left" (click)="SelectCategory=!SelectCategory" style="border-color:#000">
                                    {{SelectedCategoriesText}}<i class="fa fa-sort-down pull-right"></i>
                                </button>
                                <div class="select-category" ng-class="{'subCategoryChecked':true}">
                                    <!-- ng-show="SelectCategory" ng-init="skipValue=1" ng-click="CategoryDiv();" -->
                                    <div class="category" [hidden]="!SelectCategory">
                                        <div *ngFor="let category of footerCategory | parentPipesval">
                                            <input type="checkbox" (change)="CheckBoxChecked(category,selectedCateg[category.id])" name="{{category.name}}" [(ngModel)]="selectedCateg[category.id]"
                                                [value]="category.id"> {{category.name}}-{{category.description}}
                                            <div style="padding-left:10px" [hidden]="!selectedCateg[category.id]" *ngFor="let subCategory of footerCategory | childPipesval : {parentId:category.id}">
                                                <input type="checkbox" (change)="CheckBoxChecked(subCategory,selectedCateg[subCategory.id])" [(ngModel)]="selectedCateg[subCategory.id]"
                                                    name="{{subCategory.parentId}}" [value]="subCategory.id" />                                        {{subCategory.name}}-{{subCategory.description}}
                                            </div>
                                        </div>
                                    </div>
        
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-2 col-form-label">Language:</label>
                        <div class="col-8">
                            <select class="form-control" name="Language" placeholder="Select Language" [(ngModel)]="selectLanguage">
                                <option [value]="null">Select Language</option>
                                <option *ngFor="let obj of getLanguages" [value]="obj">{{obj}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-2 col-form-label">Description:</label>
                        <div class="col-8">
                            <input type="textarea" class="form-control" [(ngModel)]="description" placeholder="Description" aria-label="First name">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="form-group">                    
                            <input type="checkbox" [(ngModel)]="isPublic" name="isPublic" /> &nbsp;
                            <span>Would you like to share this CTM in the Public CTM Library?</span>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-sm-6 category others" *ngIf="OthersChecked">
                            <form name="others" (ngSubmit)="SaveOthers()">
                                <div class="row">
                                    <textarea class="col-sm-12" rows="4" 
                                    name="othersDescription"  [(ngModel)]="othersDescription" placeholder="Please provide a description as to why you selected this category"></textarea>
                                </div>
                                <!-- <div ng-messages="others.othersDescription.$error" class="error col-sm-11 " ng-show="submitClicked || others.othersDescription.$dirty">
                                    <div ng-messages-include="error-messages" role="alert"></div>
                                </div> -->
                                <div class="row">
                                    <p>Does this amendment have revenue impact?</p>
                                    <div class="col-sm-12">
                                        <input type="radio" name="revenueImpacts"  [(ngModel)]="revenueImpact" [value]="true" /> Yes
                                    </div>
                                    <div class="col-sm-12">
                                        <input type="radio"  name="revenueImpacts" [(ngModel)]="revenueImpact" [value]="false"/> No
                                    </div>
                                </div>
                                <div class="row text-center form-group">
                                    <input type="submit" class="btn app-save-btn" value="Save" (click)="submitClicked=true" />
                                    <input type="button" class="btn app-cancel-btn" value="Cancel" (click)="OthersChecked=false;Cancel()" />
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>           
            
        </div>
    </div>
</div>

